language: python

python:
  - 3.4

before_install:
  - touch ssh_key && chmod 600 ssh_key
  - openssl aes-256-cbc -K $encrypted_fd059ec139f0_key -iv $encrypted_fd059ec139f0_iv -in ssh_key.enc -out ssh_key -d
  - ls -lah ssh_key
  - eval $(ssh-agent -s)
  - ssh-add ssh_key
  - git config user.name "$(git --no-pager show -s --format='%an' $TRAVIS_COMMIT)"
  - git config user.email "$(git --no-pager show -s --format='%ae' $TRAVIS_COMMIT)"

install:
  - mkdir docs/_build/html
  - git clone git@github.com:selfcov/selfcov.github.io.git docs/_build/html
  - pip install -r requirements.txt

script:
  - cd docs
  - make html

after_success:
  - cd _build/html
  - git status
  - git add .
  - "git commit -m \"AUTODEPLOY: $TRAVIS_REPO_SLUG @ $TRAVIS_COMMIT\""
  - git remote -v
